.games_layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 50px auto;
}

.game_card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .game_rating {
    padding-top: 10px;
  }
}

.center_content {
  display: flex;
  justify-content: center;
}

.game_details {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.game_card_media {
  height: 140px;
}
